 @import "../../assets/vars.css"; 

.Navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  z-index: 2;
  margin: 0 10%;
}
.title{

  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}
.menu{
  display: flex;
}

.menuItems {

  display: flex;
  list-style: none;
  gap:45px;
}


